.heading
{
    font-size:23px;
    width:100%;
    margin:0px;
    box-shadow:5px 5px 5px rgb(238, 172, 5);
}

.note
{
    font-size:15px;
    color:rgb(189, 255, 128);
}

.copy_right_footer {

    position:fixed;
    color:rgb(250, 121, 207);
    bottom:0;
    width:100%;
    background-color:burlywood;
    line-height:3;
    text-align:center;

}

canvas {
border:5px solid rgb(247, 180, 180);
border-radius:20px;
box-shadow:5px 5px rgb(69, 190, 238);
}